#pacman {
    width: 0px;
    height:0px;
    border-right: 60px solid transparent;
    border-top: 60px solid lightblue;
    border-left: 60px solid lightblue;
    border-bottom: 60px solid lightblue;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
}

 body {
     background: black;
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     color: white;
     place-items: center;
    margin: 0;
 }
 .name{
   font-family: 'Times New Roman', Times, serif; 
 }
 .navbar {
    overflow: hidden;
    background-color: #847996;
  }
  
  .navbar a {
    float: left;
    font-size: 15px;
    text-align: center;
    padding: 15px;
    color: 	#E0B0FF;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    padding: 15px;
    color: 	#E0B0FF;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #8476;
  }
  
  .dropdown-content {
    display: none;
    margin-top: 46px;
    position: absolute;
    background-color: 	#E0B0FF;
    min-width: 160px;
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: #847998;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #847;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

 .heroIndex {
   background-image: url("img/heroIndex.png");
   height: 20rem;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
   margin-top: .5rem;
 }

 .heroFirst {
  background-image: url("img/first6.png");
  height: 55rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: .5rem;
}

.heroChronoshift{
  background-image: url("img/chronoshift.png");
  height: 50rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: .5rem;
}

.heroTourism{
  background-image: url("img/tourism.png");
  height: 40rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: .5rem;
}

.heroStory{
  background-image: url("img/story.png");
  height: 60rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: .5rem;
}

input[type=text], select, textarea {
width: 100%;
padding: 10px;
border: 2px solid #847;
border-radius: 6px;
box-sizing: border-box;
margin-top: 8px;
margin-bottom: 20px;
resize: both;
}

input[type=submit] {
  background-color:#847998;
  color: white;
  padding: 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

input[type=submit] {
  background-color: #E0B0FF;
}

.contentForm {
border-radius: 7px;
background-color:lightslategray;
padding: 15px;
}

.cardbutton {
    align-items: center;
    background-color: #847;
    border-radius: 8px;
    font-size: 15px;
}

.cardbutton a::hover {
    color: #E0B0FF;
}

.cardbutton a {
    text-decoration: none;
    color: #fff;
}

.portfoliocards {
  box-sizing: border-box;
}



.row {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  margin-top: 2em;
}
.row.full{
  width: 2000vw;
}

.quarters article{
  width: 200;
}

.thirds article{
  width: 200%;
}

.twothirds article:first-child{
  width: 200%;
}

.twothirds article:last-child{
  width: 200%;
}

.halves article{
  width: 200%;
}

.cards article h3,
.cards article h4,
.cards article p,
.card h2,
.card h3, 
.card p{
  padding: 0 1rem;
}

.cards article a,
.card a{
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.carousel {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.carousel > ul {
  margin: 0%;
  padding: 0;
  list-style: none;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition: 200ms;
}

.slide > img {
  display: block;
  width: 78%;
  height: 50%;
  object-fit: cover;
}

.slide[data-active] {
  opacity: 1;
  transition-delay: 0;
}

.carousel-button {
  position: absolute;
  z-index: 2;
  color: white;
  background: none;
  border: none;
  font-size: 4rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  border: .5rem;
  padding: .5rem;
}

.carousel-button:hover,
.carousel-button:focus {
  color: white;
}

.carousel-button:focus {
  outline: 1px solid #847998;
}

.carousel-button.prev {
  left: .5rem;
}

.carousel-button.next {
  right: 18rem;
}