#pacman {
    width: 0px;
    height:0px;
    border-right: 60px solid transparent;
    border-top: 60px solid lightblue;
    border-left: 60px solid lightblue;
    border-bottom: 60px solid lightblue;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
}

 body {
     background: black;
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     color: white
 }
 .name{
   font-family: 'Times New Roman', Times, serif; 
 }
 .navbar {
    overflow: hidden;
    background-color: #847996;
  }
  
  .navbar a {
    float: left;
    font-size: 15px;
    text-align: center;
    padding: 15px;
    color: 	#E0B0FF;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    padding: 15px;
    color: 	#E0B0FF;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #8476;
  }
  
  .dropdown-content {
    display: none;
    margin-top: 46px;
    position: absolute;
    background-color: 	#E0B0FF;
    min-width: 160px;
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: #847998;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #847;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
 .heroIndex {
   background-image: url("img/heroIndex.png");
   height: 20rem;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
   margin-top: .5rem;
 }

 .heroFirst {
  background-image: url("img/first.png");
  height: 20rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: .5rem;
}