#pacman {
    width: 0px;
    height:0px;
    border-right: 60px solid transparent;
    border-top: 60px solid lightblue;
    border-left: 60px solid lightblue;
    border-bottom: 60px solid lightblue;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
}

 body {
     background: black;
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     color: white
 }

 .navbar {
     overflow: hidden;
     background-color: #847996;
 }

 .navbar a {
    float: left; 
    font-size: 15px;
    color: white;
    text-align: center;
    text-decoration: none;
 }

 .navbar a: hover, .dropdown: hover .dropbtn {
     
 }
